@font-face {
	font-display: swap;
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/Atkinson-Hyperlegible-Regular.woff2') format('woff2');
}
@font-face {
	font-display: swap;
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/Atkinson-Hyperlegible-Bold.woff2') format('woff2');
}


html:has(.ArchivalNoticeModal[open]) {
	font-size: 62.5% !important;
}

.ArchivalNoticeModal {
	border: none;
	padding: 0;
}

.ArchivalNoticeModal::backdrop {
	background-color: rgba(13, 13, 13, 0.5);
}

.ArchivalNoticeModal-content {
	--color-tcl-black: #0d0d0d;
	--color-tcl-blue: #0c6cff;
	--color-tcl-green: #26ad60;
	--color-tcl-pink: #ff94e8;
	--color-tcl-yellow: #f7e600;

	-webkit-text-stroke-color: transparent;
	background-color: #fff;
	border: 20px solid var(--color-tcl-blue);
	color: var(--color-tcl-black);
	font-family: 'Atkinson Hyperlegible';
	font-weight: 100;
	font-size: 1.8rem;
	margin: auto;
	max-width: 45rem;
	padding: 20px 35px;
	position: relative
}

.ArchivalNoticeModal-content * {
	font-size: 1.6rem;
}

.ArchivalNoticeModal-content p {
	margin: 18px 0 18px 0;
}

.ArchivalNoticeModal-content .token {
	padding: 20px;
	text-align: center;
	background-color: var(--color-tcl-pink);
}

.ArchivalNoticeModal-content .token p {
	margin-top: 0;
}

.ArchivalNoticeModal-content #threeWordToken p {
	font-weight: 700;
	font-size: 2.8rem;
}

.ArchivalNoticeModal-content button {
	font-weight: 700;
	border: none;
	border-radius: 0;
	padding: 10px 15px;
	font-family: 'Atkinson Hyperlegible';
	font-size: 1.5rem;
	background-color: var(--color-tcl-green);
	color: #fff;
	transition: 0.3;
}

.ArchivalNoticeModal-content button#close {
	position: absolute;
	top: 0;
	right: 0;
}

.ArchivalNoticeModal-content button#copy {
	background-color: var(--color-tcl-green);
}

.ArchivalNoticeModal-content button:hover,
.ArchivalNoticeModal-content button:focus,
.ArchivalNoticeModal-content button#copy:hover,
.ArchivalNoticeModal-content button#copy:focus {
	background-color: var(--color-tcl-black);
	cursor: pointer;
}

.ArchivalNoticeModal-content p.not-supported {
	margin-bottom: 5px;
}

.ArchivalNoticeModal-content ul li {
	list-style-type: square;
	list-style-position: inside;
}

.ArchivalNoticeModal-content .tcl {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px -35px -20px -35px;
	padding: 20px 35px 20px 35px;
	background-color: var(--color-tcl-black);
	color: #fff;
}

.ArchivalNoticeModal-content .tcl p {
	font-size: 1.5rem;
}

.ArchivalNoticeModal-content .tcl a {
	align-self: center;
	display: block;
	margin-bottom: 18px;
	text-align: center;
	text-decoration: underline;
	color: var(--color-tcl-yellow);
}
