html:has(.GalleryModal[open]) {
	font-size: 62.5% !important;
}

.GalleryModal {
	border: none;
	padding: 0;
}

.GalleryModal::backdrop {
	background-color: rgba(13, 13, 13, 0.5);
}

.GalleryModal-content {
	--color-tcl-black: #0d0d0d;
	--color-tcl-blue: #0c6cff;
	--color-tcl-green: #26ad60;
	--color-tcl-pink: #ff94e8;
	--color-tcl-yellow: #f7e600;

	-webkit-text-stroke-color: transparent;
	background-color: #fff;
	border: 20px solid var(--color-tcl-blue);
	color: var(--color-tcl-black);
	font-family: 'Atkinson Hyperlegible';
	font-weight: 100;
	font-size: 1.8rem;
	margin: auto;
	max-width: 45rem;
	padding: 20px 35px;
	position: relative
}

.GalleryModal-content * {
	font-size: 1.6rem;
}

.GalleryModal-content p {
	margin: 18px 0 18px 0;
}

.GalleryModal-content .token {
	padding: 20px;
	text-align: center;
	background-color: var(--color-tcl-pink);
}

.GalleryModal-content .token p {
	margin-top: 0;
}

.GalleryModal-content #threeWordToken p {
	font-weight: 700;
	font-size: 2.8rem;
}

.GalleryModal-content button {
	font-weight: 700;
	border: none;
	border-radius: 0;
	padding: 10px 15px;
	font-family: 'Atkinson Hyperlegible';
	font-size: 1.5rem;
	background-color: var(--color-tcl-green);
	color: #fff;
	transition: 0.3;
}

.GalleryModal-content button#close {
	position: absolute;
	top: 0;
	right: 0;
}

.GalleryModal-content button#copy {
	background-color: var(--color-tcl-green);
}

.GalleryModal-content button:hover,
.GalleryModal-content button:focus,
.GalleryModal-content button#copy:hover,
.GalleryModal-content button#copy:focus {
	background-color: var(--color-tcl-black);
	cursor: pointer;
}

.GalleryModal-content p.not-supported {
	margin-bottom: 5px;
}

.GalleryModal-content ul li {
	list-style-type: square;
	list-style-position: inside;
}

.GalleryModal-content .tcl {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 20px -35px -20px -35px;
	padding: 20px 35px 20px 35px;
	background-color: var(--color-tcl-black);
	color: #fff;
}

.GalleryModal-content .tcl p {
	font-size: 1.5rem;
}

.GalleryModal-content .tcl a {
	align-self: center;
	display: block;
	margin-bottom: 18px;
	text-align: center;
	text-decoration: underline;
	color: var(--color-tcl-yellow);
}
